<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxm.cxmmusic.mapper.SingerMapper">

    <resultMap id="BaseResultMap" type="com.cxm.cxmmusic.pojo.Singer">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
        <result property="songNumber" column="song_number" jdbcType="INTEGER"/>
        <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,gender,
        type,avatar_url,song_number,
        introduction,deleted,version
    </sql>
    <select id="getSingerNameBySongId" resultType="java.lang.String">
        SELECT si.`name`
        FROM singer si
                 INNER JOIN song so
                 INNER JOIN singer_own_song ss
                            ON ss.singerId = si.id
                                AND ss.songId = so.id
                                AND so.id = #{songId}
                                AND so.deleted = 1
                                AND ss.deleted = 1
                                AND si.deleted = 1

    </select>
    <select id="listBySongId" resultType="com.cxm.cxmmusic.pojo.Singer">
        SELECT *
        FROM `singer` si
                 INNER JOIN song so
                 INNER JOIN singer_own_song ss
                            ON si.id = ss.singerId
                                AND so.id = ss.songId
                                AND so.id = #{songId}
                                AND so.deleted = 1
                                AND ss.deleted = 1
                                AND si.deleted = 1
    </select>
</mapper>
