<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxm.cxmmusic.mapper.SongMapper">

    <resultMap id="BaseResultMap" type="com.cxm.cxmmusic.pojo.Song">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
        <result property="duration" column="duration" jdbcType="BIGINT"/>
        <result property="sourceUrl" column="source_url" jdbcType="VARCHAR"/>
        <result property="playNumber" column="play_number" jdbcType="BIGINT"/>
        <result property="starNumber" column="star_number" jdbcType="BIGINT"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,img_url,
        duration,source_url,play_number,
        star_number,deleted,version
    </sql>
    <select id="listBySingerId" resultType="com.cxm.cxmmusic.pojo.Song">
        SELECT id,
               `name`,
               duration
        FROM song so
                 INNER JOIN singer_own_song ss ON ss.singerId = #{singerId}
            AND ss.songId = so.id
            AND so.deleted = 1

    </select>
    <select id="getBySongId" resultType="com.cxm.cxmmusic.vo.mongo.PlaySong">
        SELECT DISTINCT so.id,
                        so.duration,
                        so.`name`,
                        so.source_url,
                        so.img_url
        FROM song so
                 INNER JOIN singer si
                 INNER JOIN singer_own_song ss
        WHERE ss.singerId = si.id
          AND so.id = ss.songId
          AND ss.songId = #{songId}

    </select>
    <select id="listByCondition" resultType="com.cxm.cxmmusic.pojo.Song">
        SELECT s.*,
               si.`name`
        FROM `song` s
                 INNER JOIN singer_own_song ss
                 INNER JOIN singer si ON ss.singerId = si.id
            AND ss.songId = s.id
            AND s.deleted = 1
            AND ss.deleted = 1
            AND si.deleted = 1
            AND (s.`name` LIKE concat("%", #{key}, "%") OR si.`name` LIKE concat("%", #{key}, "%"))

    </select>
</mapper>
