<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxm.cxmmusic.mapper.UserPlaySongMapper">

    <resultMap id="BaseResultMap" type="com.cxm.cxmmusic.pojo.UserPlaySong">
            <result property="userId" column="userId" jdbcType="INTEGER"/>
            <result property="songId" column="songId" jdbcType="INTEGER"/>
            <result property="times" column="times" jdbcType="BIGINT"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,songId,times,
        deleted,version
    </sql>
</mapper>
